.header {
  padding: 55px 0 0 0;
  color: #172C4F;
  font-family: Poppins;
  font-weight: 700;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-right: 16px;
  }

  &__title-box {}

  &__title-top {
    font-weight: 700;
    font-size: 48px;
    line-height: 0.8;
  }

  &__title-bottom {
    font-weight: 600;
    font-size: 13px;
    text-align: right;
    letter-spacing: 2.3px;
  }
}