@import './timer';

.main {
  flex: 1 1 auto;
  font-family: Poppins;

  &__title {
    margin-bottom: 8px;

    animation: fadeInDown 0.5s;
    animation-fill-mode: none;
  }

  &__subtitlte {
    max-width: 423px;
    margin: 0 auto 32px;
    font-size: 18px;
    line-height: 27px;
  }

  &__timer {
    margin-bottom: 72px;
  }
}

.button-box {
  margin-bottom: 67px;

  animation: fadeInDown 0.5s;

  &__text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
  }

  &__button {
    &::after {
      content: '';
      margin-left: 35px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../img/arrow-right.svg') center/cover no-repeat;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 14px 18px 17px 28px;
  border-radius: 40px;
  vertical-align: middle;
  background-color: #1D4169;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.title {
  font-size: 72px;
  line-height: 75px;
  font-weight: 700;
  color: rgba(22, 44, 78, 0.39);
  text-transform: uppercase;
}

@media (max-width:1024px) {
  .main {

    &__title {
      margin-bottom: 20px;
    }

    &__subtitlte {
      max-width: 286px;
      margin: 0 auto 40px;
      font-size: 16px;
      line-height: 24px;
    }

    &__timer {
      margin-bottom: 44px;
    }
  }

  .button-box {
    margin-bottom: 155px;

    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  .title {
    font-size: 36px;
    line-height: 38px;
  }
}

@media (max-width:500px) {
  .main {
    &__title {
      margin-bottom: 15px;
    }

    &__timer {
      margin-bottom: 42px;
    }
  }

  .button-box {
    margin-bottom: 120px;
  }
}