body {
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Poppins;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &::before {
    animation: slideInLeft 1s;
    background: url('../img/header__left.png') left top/24.5% no-repeat;
  }

  &::after {
    animation: slideInRight 1s;
    background: url('../img/header__right.png') right top/13.875% no-repeat;
  }

}

.body--active {
  overflow: hidden;
}

[class*="__container"] {
  padding: 0 31px;
  max-width: 900px;
  margin: 0 auto;
}

.page__header {
  margin-bottom: 93px;
}

@media (max-width:1024px) {
  body {



    &::before {
      background: url('../img/header__left__768.png') left top/32% no-repeat;
    }

    &::after {
      background: url('../img/header__right__768.png') right top/35.875% no-repeat;
    }
  }

  [class*="__container"] {
    padding: 0 20px;
    max-width: 460px;
  }

  .page__header {
    margin-bottom: 165px;
  }
}

@media (max-width:500px) {
  body {
    &::before {
      background: url('../img/header__left__360.png') left top/50% no-repeat;
    }

    &::after {
      background: url('../img/header__right__360.png') right top/50.875% no-repeat;
    }
  }

  [class*="__container"] {
    padding: 0 20px;
    max-width: 360px;
  }

  .page__header {
    margin-bottom: 66px;
  }
}