body {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: url('../img/header__left.png') left top/24% no-repeat, url('../img/header__right.png') right top/13.875% no-repeat;
}

// 24.583333%; /* 472/1920 */
// 24.023438%; /* 246/1024 */
// 48.888889%; /* 176/360 */

// 11.875%; /* 228/1920 */
// 23.828125%; /* 244/1024 */
// 42.222222%; /* 152/360 */

[class*="__container"] {
  padding: 0 31px;
  max-width: 900px;
  margin: 0 auto;
}

.page__header {
  margin-bottom: 93px;
}

@media (max-width:1024px) {
  body {
    background: url('../img/header__left.png') left top/30% no-repeat, url('../img/header__right.png') right top/30.875% no-repeat;
  }

  [class*="__container"] {
    padding: 0 20px;
    max-width: 460px;
  }

  .page__header {
    margin-bottom: 165px;
  }
}

@media (max-width:500px) {
  body {
    background: url('../img/header__left.png') left top/30% no-repeat, url('../img/header__right.png') right top/30.875% no-repeat;
  }

  [class*="__container"] {
    padding: 0 20px;
    max-width: 360px;
  }

  .page__header {
    margin-bottom: 66px;
  }
}